.footer
  a
    color: #555
  margin: 0 auto;
  color: #555;
  line-height: 30px;
  .flink
    height: auto;
    padding:0 10px;
  
  .copyright
    height: 30px;
    padding:0 10px;
    span
      float: right;